* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://i.postimg.cc/s2V39wNG/pokemon-Backgroundd.jpg);
    background-size: cover;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #fcc905;
    font-size: 3rem;
  -webkit-text-fill-color: #fcc905; /* Will override color (regardless of order) */
  -webkit-text-stroke: 2.5px #2B72B8;
}

.heading {
    display: flex;
    justify-content: center;
}

.logo {
    width: 10rem;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 60vh;
}

.pokemon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.stats {
    width: 21rem;
}

span {
    font-weight: normal;
}

.pokemonName  {
    display: flex;
}
.pokemonType  {
    display: flex;
}

.pokemonImage{
    display: flex;
    justify-content: center;
    height: 14rem;
}

.pokeimage {
    width: 13rem;
}

.getRandomPokemon {
    margin-top: 1rem;
    width: 7rem;
    border: none;
    background-color: #2B72B8;
    color: #fcc905;
    font-size: 1rem;
    border-radius: 12px;
}
.getRandomPokemon:hover {
    color: #2B72B8;
    background-color: #fcc905;
}

